:root {
    --color-bg-block: rgba(255, 255, 255, .2);
    --color-shadow-block: rgba(0, 0, 0, .1);
}

body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

svg {
    fill: #222;
    stroke: #222;
}

input[type="text"] {
    background: #1d1e22;
}
input::placeholder {
    color: #4a4b53;
}
input[type="checkbox"] + label,
.indicator,
.indicator-correct,
.indicator-error,
.indicator-warning {
    background: #1d1e22;
    color: #ccc;
}
.indicator {
    border-color: #4a4b53;
}
input[type="checkbox"]:checked + label,
.indicator-active {
    color: #fff;
    border-color: #007add;
}
input[type="checkbox"] + label:hover {
    color: #fff;
    box-shadow: 0 2px 5px 1px #007add;
}
.indicator-correct {
    color: #fff;
    border-color: #27d118;
}
.indicator-warning {
    color: #fff;
    border-color: #ff7b00;
}
.indicator-error {
    color: #fff;
    border-color: #dd3838;
}

.app-sidebar a {
    background: rgba(255, 255, 255, .8) !important;
}
.app-sidebar a span {
    color: #333;
}
.app-sidebar a:hover {
    color: #fff;
    background: #fff !important;
}
.app-sidebar a:hover span,
.app-sidebar .active span {
    color: #000;
}
.app-sidebar a:hover svg {
    fill: #000;
}
.app-sidebar .active svg {
    fill: #008cff !important;
    filter: drop-shadow(0 0 3px rgb(0, 140, 255, .4));
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
}