:root {
    --color-shadow-focus-input: rgba(0, 162, 255, .5);
}

input {
    box-shadow: 0 3px 5px var(--color-shadow-block);
    background: rgba(255, 255, 255, .4) !important;
}

button {
    color: #333;
    background: rgba(255, 255, 255, .8);
}
button:hover {
    color: #000;
    background: #fff;
}