input[type="search"] {
    color: #000;
    box-shadow: 0 3px 5px var(--color-shadow-block);
    background: rgba(255, 255, 255, .4) !important;
}
button {
    color: #333;
    background: rgba(255, 255, 255, .8);
}
button:hover {
    color: #000;
    background: #fff;
}

.tooltip::after {
    background: rgb(38, 39, 43);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}

.card {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}
.card p {
    color: #fff;
}
.card img {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}