{% extends "base.html" %}
{% load static %}

{% block title %}Добавление категории{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/game_create.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="content">
        <form id="create-game" action="" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Название" required>
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>
<script>
    window.addEventListener("load", () => {
        const bt = document.querySelector("button[type='submit']");
        const form = document.querySelector("form");
        const inputs = [...document.querySelectorAll("input"), ...document.querySelectorAll("textarea")];

        bt.disabled = false;
        bt.onclick = () => {
            let valid = true; 

            inputs.forEach(input => {
                if (!input.value && input.required) {
                    input.classList.add("check-input");
                    valid = false;
                };
            });

            bt.disabled = true;

            if (valid) {
                SXDAPI.connect("", "", {
                    method: "POST",
                    mode: "same-origin",
                    credentials: "same-origin",
                    cache: "default",
                    headers: {
                        "Accept": "application/json"
                    },
                    body: new FormData(form)
                },
                (result) => {
                    if (result.hasOwnProperty("add") && result.add) {
                        inputs.forEach(input => {
                            if (input.type !== "hidden") {
                                input.classList.remove("check-input");
                                input.value = "";
                            };
                        });

                        SXDAPI.description.show({
                            text: "Категория успешно добавлена!",
                            color: "rgb(0, 220, 0)"
                        });
                    } else {
                        SXDAPI.description.show({
                            text: "Не удалось добавить категорию!",
                            color: "rgb(220, 0, 0)"
                        });
                    };

                    bt.disabled = false;
                },
                (error) => {
                    SXDAPI.description.show({
                        text: "Произошла ошибка!",
                        color: "rgb(220, 0, 0)"
                    });
                    bt.disabled = false;
                }, true);
            } else {
                SXDAPI.description.show({
                    text: "Заполните все поля!",
                    color: "rgb(220, 0, 0)"
                });
                bt.disabled = false;
            };

            return false;
        };

        inputs.forEach(input => {
            input.addEventListener("change", function () {
                this.classList.remove("check-input");
            });
        });
    });
</script>
{% endblock %}